body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.custombg {
    background-color: blanchedalmond;
    background-size: cover;
}

article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  h1 {
    font-size: 5vmin;
    line-height: 1.1;
  }
  
  body {
    background: hsl(204 100% 5%);
    
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui;
    font-size: min(100%, 3vmin);
  }
  
  h1, p, body {
    margin: 0;
  }